/* Haptic 라벨 */
.abbr-haptic {
  background-color: #00C2A8;
  color: #ffffff;
}

/* RobotHand라벨 */
.abbr-RobotHand {
  background-color: #FF8800;
  color: #ffffff;
}

/* Teleop 라벨 */
.abbr-teleop {
  background-color: #4169e1;
  color: #ffffff;
}

/* RL 라벨 */
.abbr-rl {
  background-color: #32cd32;
  color: #ffffff;
}
